<div class="container">
    <alertmessage></alertmessage>
    <h4 class="blue-text text-lighten-1 left">Cambiar contraseña</h4>
    <div class="row">
        <div class="col s12">
            <form #passwordForm="ngForm">
                <div class="row">
                    <div class="input-field col s5">
                        <input autofocus type="password" id="password" name="password" class="validate form-control" [(ngModel)]="currentPassword.password" required minlength="4"
                            maxlength="30">
                        <label for="password">Nueva contraseña</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s5">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="validate form-control" [(ngModel)]="currentPassword.confirmPassword" required minlength="4"
                            maxlength="30">
                        <label for="password">Confirmación</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s12 center">
                        <button type="button" class="waves-effect waves-light btn blue text-lighten-1" [disabled]="!passwordForm.form.valid" (click)="save()">Guardar</button>
                    </div>
                </div>
            </form>  
        </div>
    </div>
</div>