<div class="container container-responsive">
    <alertmessage></alertmessage>
    <div class="row">
        <h3 class="blue-text text-lighten-1 left">RIPS Entidad</h3>
    </div>

    <div class="row" [class.hidden]="!inReadMode">
        <div class="input-field col s3">
            <br>
            <my-date-picker name="initialDateIni" [options]="myDatePickerOptions" (dateChanged)="onInitialDateIniChanged($event)" [(ngModel)]="ripsFilter.initialDateIniObj"
                required></my-date-picker>
            <label class="active">F. Inicio desde</label>
        </div>
        <div class="input-field col s3">
            <br>
            <my-date-picker name="initialDateEnd" [options]="myDatePickerOptions" (dateChanged)="onInitialDateEndChanged($event)" [(ngModel)]="ripsFilter.initialDateEndObj"
                required></my-date-picker>
            <label class="active">F. Inicio hasta</label>
        </div>
        <div class="input-field col s3">
            <br>
            <my-date-picker name="finalDateIni" [options]="myDatePickerOptions" (dateChanged)="onFinalDateIniChanged($event)" [(ngModel)]="ripsFilter.finalDateIniObj"
                required></my-date-picker>
            <label class="active">F. Finalización desde</label>
        </div>
        <div class="input-field col s3">
            <br>
            <my-date-picker name="finalDateEnd" [options]="myDatePickerOptions" (dateChanged)="onFinalDateEndChanged($event)" [(ngModel)]="ripsFilter.finalDateEndObj"
                required></my-date-picker>
            <label class="active">F. Finalización hasta</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
            <select name="entityId" id="entityId" (ngModelChange)="entityChanged($event)" materialize="material_select" [materializeSelectOptions]="entityList"
                [(ngModel)]="ripsFilter.entityId" class="validate" required>
                <option [ngValue]="undefined">Seleccione...</option>
                <option *ngFor="let c of entityList" [ngValue]="c.entityId">{{c.name}}</option>
            </select>
            <label>Entidad</label>
        </div>
        <div class="input-field col s3">
            <select name="planEntityId" id="planEntityId" materialize="material_select" [materializeSelectOptions]="planEntityList" [(ngModel)]="ripsFilter.planEntityId"
                class="validate" required>
                <option [ngValue]="undefined">Seleccione...</option>
                <option *ngFor="let c of planEntityList" [ngValue]="c.planEntityId">{{c.name}}</option>
            </select>
            <label>Plan</label>
        </div>
        <div class="input-field col s3">
            <select name="serviceTypeId" id="serviceTypeId" materialize="material_select" [materializeSelectOptions]="serviceTypes" [(ngModel)]="ripsFilter.serviceTypeId"
                class="validate" required>
                <option [ngValue]="undefined">Seleccione...</option>
                <option *ngFor="let c of serviceTypes" [ngValue]="c.value">{{c.label}}</option>
            </select>
            <label>Servicio</label>
        </div>
        <div class="col s2">
            <br>
            <button type="button" class="waves-effect waves-light btn blue text-lighten-1" (click)="loadRips()">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
            <input type="number" placeholder="" id="copayment" name="copayment" class="validate" [(ngModel)]="ripsFilter.copayment" />
            <label class="active">Copago</label>
        </div>
        <div class="input-field col s3">
            <input type="number" placeholder="" id="netValue" name="netValue" class="validate" [(ngModel)]="ripsFilter.netValue" />
            <label class="active">Valor Neto</label>
        </div>
        <div class="input-field col s2">
            <br>
            <my-date-picker name="invoiceDate" [options]="myDatePickerOptions" (dateChanged)="onInvoiceDateChanged($event)" [(ngModel)]="ripsFilter.invoiceDateObj"
                required></my-date-picker>
            <label class="active">F. Factura</label>
        </div>
        <div class="input-field col s2">
            <input type="text" placeholder="" id="invoiceNumber" name="invoiceNumber" class="validate" [(ngModel)]="ripsFilter.invoiceNumber"
            />
            <label class="active">N. Factura</label>
        </div>
        <div class="input-field col s2">
            <button type="button" class="waves-effect waves-light btn blue text-lighten-1" (click)="generateRips()">Generar RIPS</button>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" placeholder="" #gb id="filterRips" name="filterRips" class="validate" />
            <label class="active">Filtrar</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p-dataTable [value]="rips" scrollable="true" scrollWidth="100%"  [globalFilter]="gb" [rows]="5" [paginator]="true" [(selection)]="selectedRips" dataKey="assignServiceId" [headerCheckboxToggleAllPages]="true">
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column field="assignServiceId" header="" [sortable]="true" [hidden]="true" [style]="{'width': '250px'}"></p-column>
                <p-column field="patientName" header="Paciente" [sortable]="true" [style]="{'width': '250px'}"></p-column>
                <p-column field="patientDocument" header="Documento" [sortable]="true" [style]="{'width': '200px'}"></p-column>
                <p-column field="serviceName" header="Servicio" [sortable]="true" [style]="{'width': '350px'}"></p-column>
                <p-column field="authorizationNumber" header="No. Autorización" [sortable]="true" [style]="{'width': '180px'}"></p-column>
                <p-column field="initialDate" header="F. Inicio" [sortable]="true" [style]="{'width': '130px'}"></p-column>
                <p-column field="finalDate" header="F. Finalización" [sortable]="true" [style]="{'width': '150px'}"></p-column>
                <p-column field="entityName" header="Entidad" [sortable]="true" [style]="{'width': '250px'}"></p-column>
                <p-column field="planEntityName" header="Plan" [sortable]="true" [style]="{'width': '250px'}"></p-column>
                <p-column field="invoiceNumber" header="Factura" [sortable]="true" [style]="{'width': '100px'}"></p-column>

            </p-dataTable>
        </div>
    </div>
</div>