<div class="container container-responsive">
    <alertmessage></alertmessage>
    <div class="row" [class.hidden]="!inReadMode">
        <h3 class="blue-text text-lighten-1 left"> Mis servicios en proceso</h3>

        <p-dataTable [value]="scheduledServices" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column field="patientName" header="Paciente" [sortable]="true" [style]="{'width': '25%'}"></p-column>
            <p-column field="patientDocument" header="Documento" [sortable]="true" [style]="{'width': '15%'}"></p-column>
            <p-column field="serviceName" header="Servicio" [sortable]="true" [style]="{'width': '30%'}"></p-column>
            <p-column field="initialDate" header="F. Inicio" [sortable]="true" [style]="{'width': '10%'}"></p-column>

            <p-column header="Ejecución" styleClass="text-center" [style]="{'width': '10%'}">
                <template let-professionalService="rowData" pTemplate="body">
                    {{professionalService.quantityCompleted }} / {{professionalService.quantity }}
                </template>
            </p-column>
            <p-column styleClass="col-button" header="Acción" styleClass="text-center" [style]="{'width': '10%'}">
                <template let-professionalService="rowData" pTemplate="body">
                    <a [class.hidden]="!onProfessionalServicesDetail" class="blue-text text-lighten-1" href="professionalassignedservices#!"
                        (click)="viewProfessionalServiceDetail(professionalService)" materialize="tooltip" data-tooltip="Editar">
                    Servicio
                </a>
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="row" [class.hidden]="!inReadMode">
        <h3 class="blue-text text-lighten-1 left"> Historial de servicios completados</h3>

        <p-dataTable [value]="completedServices" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column field="patientName" header="Paciente" [sortable]="true" [style]="{'width': '25%'}"></p-column>
            <p-column field="patientDocument" header="Documento" [sortable]="true" [style]="{'width': '15%'}"></p-column>
            <p-column field="serviceName" header="Servicio" [sortable]="true" [style]="{'width': '30%'}"></p-column>
            <p-column field="finalDate" header="F. Finalización" [sortable]="true" [style]="{'width': '10%'}"></p-column>
            <p-column field="totalReceived" header="Copagos Recaudados" [sortable]="true" [style]="{'width': '10%'}"></p-column>
            <p-column styleClass="col-button" header="Acción" styleClass="text-center" [style]="{'width': '10%'}">
                <template let-professionalService="rowData" pTemplate="body">
                    <a [class.hidden]="!onProfessionalServicesDetail" class="blue-text text-lighten-1" href="professionalassignedservices#!"
                        (click)="viewProfessionalServiceDetail(professionalService)" materialize="tooltip" data-tooltip="Editar">
                    Servicio
                </a>
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <div [class.hidden]="!inEditMode" class="row" style="margin-bottom:0px;">
        <a [class.hidden]="!inEditMode" class="blue-text text-lighten-1" href="professionalassignedservices#!" (click)="goBack()">Volver </a>
    </div>
    <div [class.hidden]="!inEditMode" class="row" style="margin-bottom:0px;">
        <h3 class="text-lighten-1 left">Mis servicios</h3>
    </div>
    <div [class.hidden]="!inEditMode" class="row" style="margin-bottom:0px;">
        <h3 class="blue-text text-lighten-1 left" style="margin-top:0px">Información general del servicio</h3>
    </div>
    <div [class.hidden]="!inEditMode" class="row" style="margin-bottom:0px;">
        <div class="col s12">
            <form #userForm="ngForm">
                <div class="row" style="border:solid; padding:10px;">
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>NOMBRE PACIENTE:</b> {{currentPatient.firstName}} {{currentPatient.surname}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>ENTIDAD:</b> {{currentAssignService.entityName}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>TIPO DOCUMENTO:</b> {{currentPatient.documentTypeName}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>NO. AUTORIZACIÓN:</b> {{currentAssignService.authorizationNumber}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>NÚMERO DOCUMENTO:</b> {{currentPatient.document}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>COPAGO:</b> {{currentAssignService.coPaymentAmount}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>EDAD:</b> {{currentPatient.age}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>FRECUENCIA COPAGO:</b> {{currentAssignService.coPaymentFrecuencyName}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>TELEFONO 1:</b> {{currentPatient.telephone1}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>SERVICIO:</b> {{currentAssignService.serviceName}}</span>
                        </div>

                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>TELEFONO 2:</b> {{currentPatient.telephone2}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>FRECUENCIA:</b> {{currentAssignService.serviceFrecuencyName}}</span>
                        </div>

                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col col-md-6">
                            <span><b>DIRECCIÓN:</b> {{currentPatient.address}}</span>
                        </div>
                        <div class="col col-md-6">
                            <span><b>DES. CIE10:</b> {{currentAssignService.descriptionCie10}}</span>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row" [class.hidden]="!inEditMode" style="margin-bottom:0px">
        <h3 class="blue-text text-lighten-1 left" style="margin-top:0px"> Detalle de visitas</h3>

        <p-dataTable [value]="assignServicesDetail" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column field="consecutive" header="#" [sortable]="true" [style]="{'width': '5%'}"></p-column>
            <p-column field="serviceName" header="Servicio" [sortable]="true" [style]="{'width': '20%'}"></p-column>
            <p-column field="dateVisit" header="Fecha visita" [editable]="true" required="true" [style]="{'width': '15%','overflow':'visible'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <div *ngIf="row['stateId'] == 1">
                        <p-calendar [(ngModel)]="row[col.field]" dateFormat="yy-mm-dd"></p-calendar>
                    </div>

                    <div *ngIf="row['stateId'] != 1">
                        <span> {{row[col.field]}}</span>
                    </div>
                </template>
            </p-column>
            <p-column field="paymentType" header="Medio Pago" [editable]="true" required="true" [style]="{'width': '15%', 'overflow':'visible'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <div *ngIf="row['stateId'] == 1" class="styled-select slate">
                        <select item-width="200px" [(ngModel)]="row[col.field]" style="display:block">
                             <option *ngFor="let c of paymentTypes" [value]="c.value" >{{c.label}}</option>
                        </select>
                    </div>
                    <div *ngIf="row['stateId'] != 1">
                        <span> {{row['paymentName']}}</span>
                    </div>
                </template>
            </p-column>
            <p-column field="receivedAmount" header="Valor Recibido" [editable]="true" [style]="{'width': '10%'}">
                <template let-col let-row="rowData" pTemplate="body">

                    <div *ngIf="row['stateId'] == 1">
                        <div *ngIf="row['paymentType'] != 2">
                            <input type="number" maxlength="6" pInputText [(ngModel)]="row[col.field]" />
                        </div>                        
                    </div>
                    <div *ngIf="row['stateId'] != 1">
                        <div *ngIf="row['paymentType'] != 2">
                            <span> {{row[col.field]}}</span>
                        </div>                        
                    </div>
                </template>
            </p-column>
             <p-column field="pin" header="Pin" [editable]="true" [style]="{'width': '10%'}">
                <template let-col let-row="rowData" pTemplate="body">

                    <div *ngIf="row['stateId'] == 1">                        
                        <div *ngIf="row['paymentType'] == 2">
                            <input type="number" maxlength="6" pInputText [(ngModel)]="row[col.field]" />
                        </div>
                    </div>
                    <div *ngIf="row['stateId'] != 1">                        
                        <div *ngIf="row['paymentType'] == 2">
                            <span> {{row[col.field]}}</span>
                        </div>
                    </div>
                </template>
            </p-column>
            <p-column field="otherAmount" header="Otro Valor" [editable]="true" [style]="{'width': '10%'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <div *ngIf="row['stateId'] == 1">
                        <input type="number" maxlength="6" pInputText [(ngModel)]="row[col.field]" />
                    </div>

                    <div *ngIf="row['stateId'] != 1">
                        <span> {{row[col.field]}}</span>
                    </div>
                </template>
            </p-column>
            <p-column field="stateName" header="Estado" [sortable]="true" [style]="{'width': '15%'}"></p-column>
            <p-column field="stateId" stateName="" styleClass="col-button" header="Acción" styleClass="text-center" [style]="{'width': '10%'}">
                <template let-col let-row="rowData" pTemplate="body">
                    <div class="row">
                        <a [class.hidden]="row[col.field] != 1" class="blue-text text-lighten-1" href="professionalassignedservices#!" (click)="markDetailAsCompleted(row)">Guardar</a>
                    </div>
                </template>
            </p-column>

        </p-dataTable>
    </div>
</div>