<div class="container">
    <alertmessage></alertmessage>
    <h4 [class.hidden]="!inReadMode" class="blue-text text-lighten-1 left">Lista de Servicios</h4>
    <div class="row" [class.hidden]="!inReadMode">
        <div class="input-field col s12">
            <a [class.hidden]="!onCreatePermission" href="service#!" class="waves-effect waves-light btn blue text-lighten-1" (click)="create()">Crear</a>
        </div>

    </div>
    <div class="row">
        <div class="col s6">
        </div>
        <div class="input-field col s5" [class.hidden]="!inReadMode" style="padding:4px 10px;border-bottom: 0 none">
            <input #gb type="text"  placeholder="Búsqueda">
        </div>
        <div class="col s1" [class.hidden]="!inReadMode">
            <i class="fa fa-search" style="margin:40px 4px 0 0"></i>
        </div>
    </div>
    <h4 [class.hidden]="!inCreateMode" class="blue-text text-lighten-1">Nuevo Servicio</h4>
    <h4 [class.hidden]="!inEditMode" class="blue-text text-lighten-1">Editar Servicio</h4>
    <div [class.hidden]="inReadMode" class="row">
        <div class="col s12">
            <form #ServiceForm="ngForm">
                <div class="row">
                    <div class="input-field col s5">
                        <input type="text" id="name" placeholder="" name="name" class="validate" [(ngModel)]="currentService.name" required minlength="1"
                            maxlength="30">
                        <label for="name">Nombre del servicio</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s5">
                        <input type="number" id="value" placeholder="" name="value" class="validate" [(ngModel)]="currentService.value" required
                            minlength="1" maxlength="30">
                        <label for="name">Valor a pagar al profesional</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s5">
                        <input type="text" id="code" placeholder="" name="code" class="validate" [(ngModel)]="currentService.code" required minlength="1"
                            maxlength="30">
                        <label for="code">Código del servicio (CUPS)</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s5">
                        <select name="classificationId" id="classificationId" materialize="material_select" [materializeSelectOptions]="classification" [(ngModel)]="currentService.classificationId"
                            class="validate" required>
                            <option [ngValue]="undefined">Seleccione</option>
                            <option *ngFor="let type of classification" [ngValue]="type.id">{{type.name}}</option>
                        </select>
                        <label>Clasificación</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5">
                        <select name="serviceTypeId" id="serviceTypeId" materialize="material_select" [materializeSelectOptions]="serviceType" [(ngModel)]="currentService.serviceTypeId"
                            class="validate" required>
                            <option [ngValue]="undefined">Seleccione</option>
                            <option *ngFor="let type of serviceType" [ngValue]="type.id">{{type.name}}</option>
                        </select>
                        <label>Tipo de servicio</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s5">
                        <input type="number" placeholder="" id="hoursToInvest" name="hoursToInvest" class="validate" [(ngModel)]="currentService.hoursToInvest"
                            required>
                        <label for="hoursToInvest">Horas a invertir</label>
                    </div>
                    <div class="input-field col s1">
                        <label><font color="red">*</font></label>
                    </div>
                    <div class="input-field col s12 center">
                        <button type="button" class="waves-effect waves-light btn blue text-lighten-1" [disabled]="!ServiceForm.form.valid" (click)="save()">Guardar</button>
                        <a href="service#!" class="waves-effect waves-light btn grey" (click)="cancel()">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p-dataTable [class.hidden]="!inReadMode" [value]="services" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
        <p-column field="name" header="Nombre del servicio" [sortable]="true" [style]="{'width': '15%'}"></p-column>
        <p-column field="code" header="Código del servicio" [sortable]="true" [style]="{'width': '15%'}"></p-column>
        <p-column field="serviceTypeName" header="Tipo de servicio" [sortable]="true" [style]="{'width': '25%'}">
        </p-column>
        <p-column field="classificationName" header="Clasificación" [sortable]="true" [style]="{'width': '25%'}">
        </p-column>
        <p-column field="value" header="Valor a pagar" [sortable]="true" [style]="{'width': '10%'}"></p-column>
        <p-column styleClass="col-button" header="Acción" styleClass="text-center" [style]="{'width': '10%'}">
            <template let-Service="rowData" pTemplate="body">
                <a [class.hidden]="!onEditPermission" href="service#!" (click)="edit(Service)" materialize="tooltip" class="tooltipped" data-tooltip="Editar">
                    <i class="material-icons blue-text text-lighten-1">mode_edit</i>
                </a>
            </template>
        </p-column>
    </p-dataTable>
</div>